SECRET_KEY=blabla
SENTRY=https://24f80f04ff5f4830bccec637b5631d84@sentry.io/1275874
SERVER_LIVE_INTERVAL=30

FRONT_SERVER_ADDR=0.0.0.0
FRONT_SERVER_PORT=9502

SERVICE_SERVER_ADDR=0.0.0.0
SERVICE_SERVER_PORT=9503

PING_SERVER_ADDR=0.0.0.0
PING_SERVER_PORT=9504

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6380